<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>{% block title %}{% endblock title %}</title>

	<!-- Favicons -->
	<link type="image/x-icon" href="{% static 'base/assets/img/favicon.png' %}" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'base/assets/css/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'base/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'base/assets/plugins/fontawesome/css/all.min.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'base/assets/css/style.css' %}">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="{% static 'base/assets/css/bootstrap-datetimepicker.min.css' %}">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="{% static 'base/assets/plugins/select2/css/select2.min.css' %}">

	<!-- Fancybox CSS -->
	<link rel="stylesheet" href="{% static 'base/assets/plugins/fancybox/jquery.fancybox.min.css' %}">

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<header class="header">
			<nav class="navbar navbar-expand-lg header-nav">
				<div class="navbar-header">
					<a id="mobile_btn" href="javascript:void(0);">
						<span class="bar-icon">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</a>
					<a href="{% url 'Home' %}" class="navbar-brand logo">
						<img src="{% static 'base/assets/img/logo.png' %}" class="img-fluid" alt="Logo">
					</a>
				</div>
				<div class="main-menu-wrapper">
					<div class="menu-header">
						<a href="{% url 'Home' %}" class="menu-logo">
							<img src="{% static 'base/assets/img/logo.png' %}" class="img-fluid" alt="Logo">
						</a>
						<a id="menu_close" class="menu-close" href="javascript:void(0);">
							<i class="fas fa-times"></i>
						</a>
					</div>
					<ul class="main-nav">
						<li class="active">
							<a href="{% url 'Home' %}">Home</a>
						</li>
						<li>
							<a href="{% url 'searchDoctor' %}">Doctors</a>
						</li>
						<li>
							<a href="#">Chats</a>
						</li>
						<li>
							<a href="#">About Me</a>
						</li>
						<li class="login-link">
							{% if user.is_authenticated %}
							<a class="nav-link header-login" href="">Dashboard </a>
							{% else %}
							<a class="nav-link header-login" href="{% url 'doctor-signin' %}">login / Signup </a>
							{% endif %}
						</li>
					</ul>
				</div>
				<ul class="nav header-navbar-rht">
					<li class="nav-item contact-item">
						<div class="header-contact-img">
							<i class="far fa-hospital"></i>
						</div>
						<div class="header-contact-detail">
							<p class="contact-header">Contact</p>
							<p class="contact-info-header"> +1 315 369 5943</p>
						</div>
					</li>
					<li class="nav-item">
						{% if user.is_authenticated %}
						<a class="nav-link header-login" href="">Dashboard </a>
						{% else %}
						<a class="nav-link header-login" href="{% url 'doctor-signin' %}">login / Signup </a>
						{% endif %}
					</li>
				</ul>
			</nav>
		</header>
		<!-- /Header -->

		{% block body %}{% endblock body %}
		<!-- Footer -->
		<footer class="footer">

			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-md-6">

							<!-- Footer Widget -->
							<div class="footer-widget footer-about">
								<div class="footer-logo">
									<img src="{% static 'base/assets/img/footer-logo.png' %}" alt="logo">
								</div>
								<div class="footer-about-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. </p>
									<div class="social-icon">
										<ul>
											<li>
												<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- /Footer Widget -->

						</div>

						<div class="col-lg-3 col-md-6">

							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Patients</h2>
								<ul>
									<li><a href="search.html"><i class="fas fa-angle-double-right"></i> Search for
											Doctors</a></li>
									<li><a href="#"><i class="fas fa-angle-double-right"></i> Login</a></li>
									<li><a href="register.html"><i class="fas fa-angle-double-right"></i> Register</a>
									</li>
									<li><a href="booking.html"><i class="fas fa-angle-double-right"></i> Booking</a>
									</li>
									<li><a href="patient-dashboard.html"><i class="fas fa-angle-double-right"></i>
											Patient Dashboard</a></li>
								</ul>
							</div>
							<!-- /Footer Widget -->

						</div>

						<div class="col-lg-3 col-md-6">

							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Doctors</h2>
								<ul>
									<li><a href="appointments.html"><i class="fas fa-angle-double-right"></i>
											Appointments</a></li>
									<li><a href="chat.html"><i class="fas fa-angle-double-right"></i> Chat</a></li>
									<li><a href="#"><i class="fas fa-angle-double-right"></i> Login</a></li>
									<li><a href="doctor-register.html"><i class="fas fa-angle-double-right"></i>
											Register</a></li>
									<li><a href="doctor-dashboard.html"><i class="fas fa-angle-double-right"></i> Doctor
											Dashboard</a></li>
								</ul>
							</div>
							<!-- /Footer Widget -->

						</div>

						<div class="col-lg-3 col-md-6">

							<!-- Footer Widget -->
							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">
									<div class="footer-address">
										<span><i class="fas fa-map-marker-alt"></i></span>
										<p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
									</div>
									<p>
										<i class="fas fa-phone-alt"></i>
										+1 315 369 5943
									</p>
									<p class="mb-0">
										<i class="fas fa-envelope"></i>
										doccure@example.com
									</p>
								</div>
							</div>
							<!-- /Footer Widget -->

						</div>

					</div>
				</div>
			</div>
			<!-- /Footer Top -->

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container-fluid">

					<!-- Copyright -->
					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0"><a href="templateshub.net">Templates Hub</a></p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">

								<!-- Copyright Menu -->
								<div class="copyright-menu">
									<ul class="policy-menu">
										<li><a href="term-condition.html">Terms and Conditions</a></li>
										<li><a href="privacy-policy.html">Policy</a></li>
									</ul>
								</div>
								<!-- /Copyright Menu -->

							</div>
						</div>
					</div>
					<!-- /Copyright -->

				</div>
			</div>
			<!-- /Footer Bottom -->

		</footer>
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="{% static 'base/assets/js/jquery.min.js' %}"></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'base/assets/js/popper.min.js' %}"></script>
	<script src="{% static 'base/assets/js/bootstrap.min.js' %}"></script>

	<!-- Slick JS -->
	<script src="{% static 'base/assets/js/slick.js' %}"></script>

	<!-- Custom JS -->
	<script src="{% static 'base/assets/js/script.js' %}"></script>

	<!-- Select2 JS -->
	<script src="{% static 'base/assets/plugins/select2/js/select2.min.js' %}"></script>

	<!-- Datetimepicker JS -->
	<script src="{% static 'base/assets/js/moment.min.js' %}"></script>
	<script src="{% static 'base/assets/js/bootstrap-datetimepicker.min.js' %}"></script>

	<!-- Fancybox JS -->
	<script src="{% static 'base/assets/plugins/fancybox/jquery.fancybox.min.js' %}"></script>

</body>

</html>